# 第一步

absl-py
accelerate
agentscope
aimux
aiohappyeyeballs
aiohttp
aiohttp-cors
aioitertools
aiosignal
annotated-doc
annotated-types
anthropic
antlr4-python3-runtime
anyio
apache-tvm-ffi
astor
attrs
bcrypt
beast-logger
bidict
blake3
build
cached-property
cachetools
cbor2
certifi
cffi
charset-normalizer
chromadb
click
cloudpickle
codetiming
colorful
compressed-tensors
cryptography
cuda-bindings
cuda-core
cuda-pathfinder
cuda-python
cuda-tile
cuda-toolkit
cupy-cuda12x
dashscope
datasets
debugpy
depyf
dill
diskcache
distlib
distro
dnspython
docstring-parser
durationpy
einops
email-validator
farama-notifications
fastapi
fastapi-cli
fastapi-cloud-cli
fastar
fastrlock
fastsafetensors
filelock
flashinfer-python
flatbuffers
frozendict
frozenlist
fsspec
gguf
gitdb
gitpython
google-api-core
google-auth
googleapis-common-protos
grpcio
grpcio-reflection
gymnasium
h11
h2
hf-xet
hpack
httpcore
httptools
httpx
httpx-sse
huggingface-hub
humming-kernels
hydra-core
hyperframe
idna
ijson
importlib-metadata
importlib-resources
iniconfig
interegular
jieba
jinja2
jiter
jmespath
json-repair
json5
jsonschema
jsonschema-specifications
kaldi-native-fbank
kubernetes
lark
llguidance
llvmlite
lm-format-enforcer
loguru
markdown
markdown-it-py
markupsafe
mcp
mdurl
mistral-common
ml-dtypes
mmh3
model-hosting-container-standards
modelscope
mpmath
msgpack
msgspec
multidict
multiprocess
networkx
ninja
numba
numpy
nvidia-cublas
nvidia-cuda-cccl
nvidia-cuda-crt
nvidia-cuda-cupti
nvidia-cuda-nvcc
nvidia-cuda-nvdisasm
nvidia-cuda-nvrtc
nvidia-cuda-runtime
nvidia-cudnn-cu13
nvidia-cudnn-frontend
nvidia-cufft
nvidia-cufile
nvidia-curand
nvidia-cusolver
nvidia-cusparse
nvidia-cusparselt-cu13
nvidia-cutlass-dsl
nvidia-cutlass-dsl-libs-base
nvidia-cutlass-dsl-libs-core
nvidia-cutlass-dsl-libs-cu13
nvidia-ml-py
nvidia-nccl-cu13
nvidia-nvjitlink
nvidia-nvshmem-cu13
nvidia-nvtx
nvidia-nvvm
nvtx
oauthlib
omegaconf
onnxruntime
openai
openai-harmony
opencensus
opencensus-context
opencv-python-headless
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-exporter-prometheus
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-semantic-conventions-ai
orjson
outlines-core
overrides
packaging
pandas
partial-json-parser
peft
pillow
pip
platformdirs
pluggy
prettytable
prometheus-client
prometheus-fastapi-instrumentator
propcache
proto-plus
protobuf
psutil
py-cpuinfo
py-spy
pyarrow
pyasn1
pyasn1-modules
pybase64
pybind11
pycountry
pycparser
pydantic
pydantic-core
pydantic-extra-types
pydantic-settings
pyecharts
pyelftools
pygame-ce
pygments
pyjwt
pylatexenc
pynvvideocodec
pypika
pyproject-hooks
pytest
python-datauri
python-dateutil
python-discovery
python-dotenv
python-engineio
python-json-logger
python-multipart
python-socketio
pyvers
pyyaml
pyzmq
quack-kernels
ray
referencing
regex
requests
requests-oauthlib
rich
rich-toolkit
rignore
rpds-py
safetensors
scipy
sentencepiece
sentry-sdk
setproctitle
setuptools
shellingham
shortuuid
simple-websocket
simplejson
six
smart-open
smmap
sniffio
sounddevice
soundfile
soxr
sse-starlette
starlette
supervisor
swanlab
sympy
tabulate
tenacity
tensorboard
tensorboard-data-server
tensordict
tiktoken
tilelang
tokenizers
tokenspeed-mla
tokenspeed-triton
torch==2.11.0
torch-c-dlpack-ext
torchaudio
torchcodec
torchdata
torchvision==0.26.0
tqdm
transformers
triton
typer
typing-extensions
typing-inspection
urllib3
uvicorn
uvloop
virtualenv
vllm==0.24.0
wandb
watchdog
watchfiles
wcwidth
websocket-client
websockets
werkzeug
wheel
wrapt
wsproto
xformers
xgrammar
xxhash
yarl
z3-solver
zipp

# 第二步
# verl==0.8.0.dev0 --no-deps
# 第三步
# proxychains4 -f /root/.proxychains/proxychains.conf uv pip install flash-attn==2.8.3.post1 --no-build-isolation --no-deps --force-reinstall --no-cache