# API keys
OPENAI_API_KEY="sk-xxx"
OPENAI_BASE_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"
RM_BASE_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"
RM_API_KEY="sk-xxx" 
OPENJUDGE_BASE_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"
OPENJUDGE_API_KEY="sk-xxx" 
STRONG_MODEL_API_KEY="sk-xxx"

SWANLAB_API_KEY="xxx"

# data path, save path
ENV_SERVICE_ROOT="/path/to/env_service"
CONDA_PATH="/path/to/conda/conda.sh"
MODEL_PATH="/path/to/base_model"
CKPT_SAVE_PATH="/path/to/ckpt_path"
# 新增：数据文件路径配置
TRAIN_DATA_PATH="/path/to/train_data"
VAL_DATA_PATH="/path/to/val_data"


TRAIN_REF_ANS_PATH="/path/to/train_reference_answer"
VAL_REF_ANS_PATH="/path/to/val_reference_answer"


# Port
ADDR=""
MCP_PORT=""
