services:

  astune-node-1:
    image: agentscope-tuner-unittest:latest
    pull_policy: never
    command: sh -c "uv pip install -e .[dev]"
    environment:
      - HF_ENDPOINT=https://hf-mirror.com
      - RAY_ADDRESS=auto
    working_dir: /workspace
    volumes:
      - astune-volume:/mnt
      - ../../..:/workspace
    shm_size: "64G"
    deploy:
      resources:
        reservations:
          devices:
          - driver: nvidia
            device_ids: ['0', '1', '2', '3']
            capabilities: [gpu]

volumes:
  astune-volume:
    external: true
